// src/assets/css/variables.scss
$mainColor: #404059;
$primaryColor: #686d73;
$whiteColor: #fff;
$darkMainColor: #2b2b3e;
$lightMainColor: #ffffff;

$textBorderRadius: 20px;
$buttonBorderRadius: 5px;
$fontSizeBase: 16px;
$borderRadius: 8px;
